body {
  margin: 0;
  direction: rtl;
  font-size: 20px;
  font-family: "Assistant", sans-serif;
  color: black;
}
header {
  display: none;
}
* {
  box-sizing: border-box;
}
.wrapper {
  padding-top: 125px;
  padding-bottom: 80px;
  overflow: hidden;
}
.inner_width {
  max-width: 84%;
  margin: 0 auto;
  padding: 0 20px;
}
h1,
h2,
h3 {
  margin: 0;
}
a {
  text-decoration: none;
}
p {
  margin-top: 0;
}
img {
  max-width: 100%;
}
.center {
  text-align: center;
}
.tx--yellow {
  color: #fdd40f;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

header {
  box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 2;
  width: 100%;
}
.head-in {
  padding: 10px 20px;
  max-width: 84%;
  margin: 0 auto;
}
.logo img {
  height: 100px;
}
.nav {
  margin: 30px 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}
.nav li {
  padding: 0 20px;
  font-size: 20px;
  font-weight: 500;
}
.nav li a {
  color: black;
}
.nav li a:hover,
.nav li a.active {
  color: #fdd40f;
}
.title {
  font-size: 50px;
  font-weight: bold;
  line-height: 1.1;
  margin: 0;
  margin-bottom: 40px;
}
.hero {
  background: rgb(77, 234, 206);
  background: linear-gradient(
    52deg,
    rgba(77, 234, 206, 1) 0%,
    rgba(60, 88, 164, 1) 100%
  );
}
.hero-cont {
  color: white;
  width: 48%;
  padding: 30px 0;
}
.hero .title {
  font-size: 4.2vw;
  margin-bottom: 0;
}
.sec--pad {
  padding: 50px 0;
}
.circ {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 auto 25px;
  background: rgb(77, 234, 206);
  background: linear-gradient(
    52deg,
    rgba(77, 234, 206, 1) 0%,
    rgba(163, 60, 164, 1) 100%
  );
  transition: 0.25s ease-in-out;
}
.circ:hover {
  transform: rotate(200deg);
}
.circ2 {
  background: rgb(77, 234, 206);
  background: linear-gradient(
    52deg,
    rgba(77, 234, 206, 1) 0%,
    rgba(60, 164, 96, 1) 100%
  );
}
.circ3 {
  background: rgb(234, 232, 77);
  background: linear-gradient(
    52deg,
    rgba(234, 232, 77, 1) 0%,
    rgba(222, 21, 69, 1) 100%
  );
}
.service-item {
  width: calc(100% / 3);
  padding: 0 5%;
}
.service-item .title {
  font-size: 28px;
  margin-bottom: 9px;
}
.sec-about {
  background: url("../img/flower.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}
.sec-about h3 {
  font-size: 28px;
  line-height: 1.4;
  max-width: 720px;
  margin: 0 auto 20px;
}
.sec-about p {
  font-size: 23px;
}
.logos {
  background-color: white;
  border-radius: 14px;
  padding: 12px;
  box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.15);
  max-width: 800px;
  margin: 20px auto;
}
.logos .flex {
  justify-content: center;
}
.logos img {
  max-height: 90px;
  margin: 12px 22px;
  max-width: 80px;
}
.title--right {
  width: 28%;
  margin-left: 6%;
}
.title--right span {
  color: coral;
}
.sec-team .inner_width {
  max-width: 68%;
}
.teams {
  flex: 1;
}
.team {
  width: 47%;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.15);
  position: relative;
}
.team-img {
  position: relative;
  padding-top: 110%;
}
.team-img img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.team-name {
  position: absolute;
  bottom: 14px;
  z-index: 1;
  background: white;
  left: 4%;
  right: 4%;
  border-radius: 0 0 12px 12px;
  padding: 12px;
}
.team-name .title {
  color: coral;
  font-size: 26px;
  margin-bottom: 5px;
}
.team-name p {
  margin: 0;
  opacity: 0.8;
}
.team:last-child {
  transform: translateY(120px);
}
.sec-team {
  margin-bottom: 140px;
}
.sec-contact {
  background: url("../img/contact.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}
.sec-contact .logos .flex {
  justify-content: space-between;
  padding: 20px 40px;
}

.my-form label,
.label-width {
  display: block;
  margin-bottom: 15px;
  width: 48%;
}
.label-width label {
  margin: 0;
  line-height: 45px;
}
input:not([type="radio"], [type="submit"]),
select,
textarea {
  display: block;
  width: 100%;
  height: 45px;
  border: 1px solid rgb(212, 212, 212);
  margin-top: 3px;
  border-radius: 4px;
  padding: 0 14px;
  font-size: 16px;
  font-family: Arial;
}
textarea {
  resize: none;
  padding: 14px;
  height: 120px;
}
input[type="submit"] {
  width: 220px;
  height: 48px;
  border: none;
  border-radius: 60px;
  margin: 20px auto;
  background-color: #f8b633;
  color: white;
  font-size: 18px;
  font-weight: bold;
  display: block;
  transition: 0.25s ease-in-out;
}
input[type="submit"]:hover {
  background-color: #f0a91b;
  cursor: pointer;
}
img[name="slide"] {
  object-fit: contain;
  width: 60%;
  height: 320px;
  margin: auto;
}

@media screen and (min-width: 800px) and (max-width: 1400px) {
}

@media screen and (min-width: 800px) {
  .mobile_only {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .service-item {
    width: 100%;
    margin-bottom: 25px;
  }
  .sec-team .inner_width,
  .head-in,
  .inner_width {
    max-width: 100%;
  }
  .title {
    font-size: 9vw;
  }
  .title--right {
    width: 100%;
    margin-left: 0;
  }
  .teams {
    width: 100%;
    flex: inherit;
    display: block;
  }
  .team {
    width: 100%;
    max-width: 290px;
    margin: 0 auto 40px;
  }
  .team:last-child {
    transform: none;
  }
  .sec-team {
    margin: 0;
  }
  .sec-contact {
    margin: 0;
    padding: 22px 0;
  }
  .sec-contact .logos {
    padding: 22px 0;
  }
  .sec-contact .title {
    margin-bottom: 22px;
  }
  .my-form h2 {
    padding: 0 30px;
    font-size: 18px;
  }
  .my-form label {
    width: 100%;
  }
  .nav {
    position: fixed;
    background-color: white;
    padding: 10px;
    left: 0;
    top: 106px;
    box-shadow: 0 2px 22px 0 rgb(0 0 0 / 15%);
    margin: 0;
    transition: 0.3s ease-in-out;
    transform: translateX(-100%);
    display: block;
    width: 48vw;
  }
  .nav li {
    padding: 12px 15px;
    font-size: 24px;
  }
  .logo img {
    height: 82px;
  }
  .bt-menu {
    display: flex;
    align-items: center;
    width: 24px;
    height: 18px;
    position: relative;
  }
  .bt-menu span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: auto;
    transition: all 0.25s ease-in-out;
  }
  .bt-menu span:before,
  .bt-menu span:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: left top;
    transition: all 0.25s ease-in-out;
  }
  .bt-menu span:after {
    top: auto;
    bottom: 0;
    transform-origin: left bottom;
  }
  .bt-menu.active span {
    background-color: white;
  }
  .bt-menu.active span:before {
    transform: rotate(45deg);
  }
  .bt-menu.active span:after {
    transform: rotate(-45deg);
  }
  .nav.open {
    transform: translateX(0);
  }
}
input.error {
  border-color: red;
}
